html{
    overflow-x: hidden;
}

body{
    margin: 0px;
    background-color: #ffffff;
}

section{
    margin-bottom: 3%;
    display: flex;
    width: 100%;
}

.conteiner{
    height: auto;
    width: 100%;
    
}

h1{
    font-family: 'Chau Philomene One', sans-serif;
}

h2{
    font-family: 'Hind', sans-serif;
    text-align: center;
}

h3{
    font-family: 'Abel', sans-serif;
    text-align: center;
}

h4{
    font-family: 'Chelsea Market', cursive;
    text-align: center;
}
p{
    font-family: 'Karla', sans-serif;
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
}

/* Fontes

titulos maiores = font-family: 'Hind', sans-serif;

titulos menores = font-family: 'Abel', sans-serif;

textos = font-family: 'Yanone Kaffeesatz', sans-serif;


/* MENU */

.cabeça{
    height: 300px;
    width: 100%;
    margin-top: -20px;
    margin-bottom: 45px;
    background-image: url(./imagens/mountain-bike.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    border-bottom: orange solid 5px;
    
}

.caixa_titulo{
    height: 150px;
    width: 620px;
    color: white;
    display: flex;
}

.caixa_titulo img{
    height: 85px;
    width: 85px;
    margin-left: 20px;
    margin-top: 30px;
    display: flex 1;
}

.caixa_titulo h1{
    padding: 10px;
    font-size: 60px;
    margin-top: 17px;
    margin-left: 26px;
}

.menu{
   display: flex;
}

.menu .selecionar li:hover{
    border-bottom: orange solid 5px;
    transition: 0.1s;
}
.menu ul li{
    list-style: none;
    float: left;
    margin-right: 30px;
    text-align: center;
    height: 45px;
    font-weight: 900;
}
.selecionar{
    height: 75px;
    width: 53%;
    display: flex 1;
    margin-right: -13%;
}

.selecionar2{ 
    height: 60px;
    float: right;
    width: 75px;
    margin-top: 20px;
    margin-right: 0px;
}

.selecionar2 img{
    height: 40px;
    width: 40px;
    padding-left: 48px;
}

/* Modal */

div#modal_cadastro{   
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(44, 44, 44, 0.712);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s linear;
    z-index: 20
} 

.all_modal{
   height: 100%;
   width: 400px;
   margin-top: 20px;
   background-image: url(./imagens/modal-bike.gif);
   background-repeat: no-repeat;
   background-size: cover;
   border-radius: 5px;
   position: relative;
}

.modal-ativo {
    visibility: visible !important;
    opacity: 1 !important;
  }

  /* Cadastro */

  .cadastro_ativo{
    visibility: visible !important;
    opacity: 1 !important;
  }

  .cadastro_validado{
    height: 175px;
    width: 275px;
    font-size: 60px;
    background-color: yellow;
    filter: opacity(0.9);
    color: white;
    border-radius: 55px;
    border: white solid 5px;
    margin-top: 120px;
    margin-bottom: 180px;
}

.cadastro_validado:hover{
    filter: none;
}

.cadastro_validado p{
    font-family: 'Chau Philomene One', sans-serif;
}

.cadastro_val_abrigo b{
    color: white;
}

/* FIM Cadastro */


.all_modal span{
    float: right;
    font-size: 40px;
    color: wheat;
    margin: 5px 15px 5px 5px;
    transition: 80ms;
}

.all_modal span:hover{
    color: red;
    transition: 80ms;
}

.intro_modal img{
    height: 55px;
    width: 55px;
    display: flex;
    float: left;
    margin-left: 15px;
    margin-top: 20px;
 }

 .intro_modal p{
    text-align: center;
    margin: 50px 9px 40px 9px;
    color: white;
    font-size: 23px;
    font-weight: 600;
 }

 .intro_modal h1{
     padding: 7px;
     padding-top: 28px;
     color: white;
     font-size: 40px;
 }

.input_name{
    height: 35px;
    width: 145px;
    margin-bottom: 20px;
}

 .input_email{
 height: 35px;
 width: 326px;
 margin-left: 12px;
 margin-bottom: 20px;

 }

 .input_senha{
    height: 35px;
    width: 326px;
    margin-left: 12px;
 }

 .input_bnt{
border: none;
height: 40px;
width: 200px;
border-radius: 05px;
background-color: #fbf40d;
margin-top: 20px;
margin-bottom: 20px;
}

label{
    color: white;
}


/* HOME */

.home h2{
    margin-bottom: 36px;
}

.home_1{
    height: 345px;
    width: 100%;
    display: flex;
}

.home_1 .info {
    height: 348px;
    width: 30%;
    float: left;
    margin-left: 149px;
    margin-right: 71px;
    display: flex 1;
}

.home_1 .gif_home1{
    height: 346px;
    width: 539px;
    float: right;
    margin-right: 80px;
    margin-left: 100px;
    display: flex 1;
    
}
.home_1 img{
    height: 345px;
    width: 536px;
}

.home_2{
    height: 345px;
    width: 100%;
    margin-top: 35px;   
    float:left; 
    display: flex;
}

.home_2 .info_2{
    height: 325px;
    width: 30%;
    float: right;
    margin-left: 170px;
    margin-right: 80px;
    display: flex 1;
}

.home_2 .gif_home2{
    height: 345 px;
    width: 537px;
    float: left;
    margin-left: 83px;
    display: flex 1;
}

.home_2 img{
    height: 345px;
    width: 536px;
}

/* Sobre */

.legendary{
    height: 500px;
    width: 1359px;
    display: flex;
    background-image: url(./imagens/plano_fundo.jpg);
}

.legendary .info_3{
    height: 206px;
    width: 328px;
    margin-left: 107px;
    padding: 65px;
    display: flex 1;
    color: white;
}

/* Galeria*/


.fotos{
    height: 681px;
    width: 1253px;
    margin-left: 56px;
    
}

.fotos .galeria_fotos{
    height: 220px;
    width: 296px;
    margin-right: 10px;
    display: inline-block;

}
.fotos img{
    height: 220px;
    width: 296px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 30px;
    border: #dcb13194 solid 2px;
}

.fotos img:hover{
    height: 250px;
    width: 326px;
    position: absolute;
    transition: 1s;
}

/* Equipe */

.equipe{
    float: left;
}

.equipe h2{
    padding-left: 14px;
}

.membros{
    height: 425px;
    width: 900px;
    display: flex;
    margin-left: 233px;
}

.membros .perfil_fotos{
    display: inline block;
    display: flex 1;
}

.membros img{
    height: 260px;
    width: 262px;
    border-radius: 136px;
}

.perfil_fotos h4{
    font-size: 25px;
    margin-bottom: 16px;
}

.membros ul li{
    list-style: none;
}

.redes_sociais{
    height: 35px;
    width: 300px;
}

.redes_sociais ul li img{
    height: 30px;
    width: 30px;

}

.redes_sociais .social_1{
    float: left;
    margin-left: 62px;
    
}
.redes_sociais .social_2{
    float: right;
    margin-right: 100px;
    
    
}

/* Diversos */

.diversos{
    float: left;
}

.conheca_tbm1{
    height: 300px;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    background-image: url(./imagens/523893.jpg);
}

.conheca_tbm1 .skt{
        width: 355px;
        margin-left: 115px;
        margin-top: 30px;
}

.conheca_tbm2{
    height: 300px;
    width: 100%;
    margin-bottom: 20px;
    color:black;
    display: flex;
    background-image: url(./imagens/Cachoeira-da-Fumaça-em-Paranapiacaba.png);
}

.conheca_tbm2 img{
    height: 272px;
    width: 350px;
    border-radius: 20px;
    margin-left: 150px;
    padding: 11px;
    display: flex 1;
}

.conheca_tbm2 .trip{
    width: 300px;
    margin-left: 260px;
    margin-right: 110px;
    margin-top: 20px;

}

.conheca_tbm3{
    height: 300px;
    width: 100%;
    color:black;
    display: flex;
    background-image: url(./imagens/217464.jpg);
}

.conheca_tbm3 .street{
    border: 3px black solid;
    background-color: rgba(124,140,136,0.7);
    color: white;
    border-radius: 57px;
    height: 190px;
    width: 354px;
    margin-left: 70px;
    margin-top: 20px;
}

.conheca_tbm3 .street_video{
    height: 265px;
    width: 465px;
    display: flex;
    margin-left: 280px;
    margin-top: 20px;
}

iframe{
    height: 230px;
    width: 400px;
    display: flex 1;
}


/* roda pé */

.rodape{
    float: left;
}

.footer{
    color: #c5c3c3;
    height: 70px;
    width: 100%;
    background-color: blue;
    margin-top: -20px;
    border-top: orange solid 5px;
    margin-bottom: -31px;
    background-image: url(./imagens/footer1.jpg);
    text-align: center;
}

.footer ul li{
    list-style: none;
}
